/* recipe.css */
/* 背景画像 */
body{
    background-image: url("images/bg_Argyle.jpg");
}

/* 画像と文字のセンター寄せ */
.text{
    text-align: center;
}


/* 表の色 */
table{
    background-color: lightyellow;
    border-color: red;
}

/* 材料内容赤字 */
.textColor{
    color: red;
}
/* カレー画像の枠線 */
 .img{
    border: double red;
    border-width: 100%;
} 
/* ワンポイント画像横コメント */
.onePoint{
    display: flex;
}